<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="font-size: 17px;">
        <div class="navbar-header">
            <a class="navbar-brand home-title-font" routerLink="/home">Clinic Managment System</a>
        </div>
        <ul class="nav navbar-nav">

            <li class="active" style="margin-left: 10px;">
                <!-- <a routerLink="/showPatientData" routerLinkActive="active">Home</a> -->
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Shows <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!-- <li><a routerLink="/patient" routerLinkActive="active">Show Patient</a></li> -->
                    <li><a routerLink="/patients" routerLinkActive="active">Show Patients</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Add New<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a (click)="eraseLastPatient()" routerLink="/add-patient" routerLinkActive="active">Patient</a>
                    </li>
                    <li><a routerLink="/add-complaint" routerLinkActive="active">Complaint</a></li>
                    <li><a routerLink="/add-medical" routerLinkActive="active">Medical</a></li>
                    <li><a routerLink="/add-disease" routerLinkActive="active">Disease</a></li>
                    <li><a routerLink="/add-exam" routerLinkActive="active">Exam</a></li>
                    <li><a routerLink="/add-habit" routerLinkActive="active">Habit</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Statistics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/patient/statistics/disease" routerLinkActive="active">Diseases</a></li>
                    <li><a routerLink="/patient/statistics/complaint" routerLinkActive="active">Complaints</a></li>
                    <li><a routerLink="/patient/statistics/medicine" routerLinkActive="active">Medicals</a></li>
                    <li><a routerLink="/patient/statistics/habit" routerLinkActive="active">Habits</a></li>
                    <li><a routerLink="/patient/statistics/exam" routerLinkActive="active">Exams</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Search By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/patient/searchByName']" routerLinkActive="active">Name</a></li>
                    <li><a routerLink="/patient/searchByAge" routerLinkActive="active">Age</a></li>
                    <li><a routerLink="/patient/searchByDate" routerLinkActive="active">Date</a></li>
                </ul>
            </li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>