<div class="container">

    <div class="center-screen">
        <h1 class="patient-headers">Add New Habit </h1>
        <hr />
        <img src="assets/images/habit.jpg" width="700" height="300">
    </div>

    <!-- Form-->
    <form [formGroup]="habitDataForm" (submit)="saveHabit()">

        <div class="row">
            <!-- add Habit -->
            <div class="form-group center-screen">
                <div class="col-sm-8">
                    <input type="text" formControlName="habit" [(ngModel)]="habit.name" placeholder="Add Habit"
                        class="form-control">
                    <div *ngIf="habitControls.habit.touched && habitControls.habit.invalid"
                        class="alert alert-danger">
                        <div *ngIf="habitControls.habit.errors.required">please enter habit name
                        </div>
                    </div>
                </div>
                <!-- save habit -->
                <div class="col-sm-2">
                    <input type="submit" [disabled]="habitDataForm.invalid" class="form-control btn btn-primary"
                        value="Add Habit">
                </div>
            </div>
        </div>
    </form>
</div>