$patient-details-color: red;

.patient-details {
  color: $patient-details-color;
  font-size: 15px;
  overflow-wrap: break-word;
}

.card-header {
  font-size: 20px;
  background-color: rgb(36, 128, 36);
  color: white;
}
