$selectText: none;

body {
  -webkit-touch-callout: $selectText;
  -webkit-user-select: $selectText;
  -khtml-user-select: $selectText;
  -moz-user-select: $selectText;
  -ms-user-select: $selectText;
  user-select: $selectText;
}

.patient-diagnostic-btn {
  width: 60%;
}

// patient bold title styles
.patient-headers {
  color: indianred;
  margin-top: 6%;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.chartCanvas {
  margin-top: 10%;
  position: relative;
  height: 40vh;
  width: 70vw;
}
